<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71438229205-6t2a2iga15r6nq13pton8aqr59l280ru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71438229205-6t2a2iga15r6nq13pton8aqr59l280ru</string>
	<key>API_KEY</key>
	<string>AIzaSyCaUjkBTPJuA3QOf2zCUeHY04a_rlxsbos</string>
	<key>GCM_SENDER_ID</key>
	<string>71438229205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.capstoneDicodingSemaapps</string>
	<key>PROJECT_ID</key>
	<string>dicoding-capstone</string>
	<key>STORAGE_BUCKET</key>
	<string>dicoding-capstone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71438229205:ios:f3e3cef211f7ef80e7cc5c</string>
</dict>
</plist>